<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="item active" style="background-image: url(<%= image_path('slider/bg1.jpg') %>)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-6">
              <div class="carousel-content">
                <h2 class="animation animated-item-1">Welcome!</h2>
                <p class="animation animated-item-2">We specialize in turning your patio, lawn, or backyard into a piece of desert art.</p>
                <a class="btn-slide animation animated-item-3" href="#">VIEW OUR PORTFOLIO</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.item-->
    </div>
    <!--/.carousel-inner-->
  </div>
  <!--/.carousel-->
</section>
<!--/#main-slider-->